@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: #333333f5;
    font-family: 'Poppins',sans-serif;
}
html{
    scroll-behavior: smooth;
}
nav{
    position: fixed;
    width: 100%;
    margin: 0;
    z-index: 1;
    height: 80px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
    padding: 20px 0px 0px 10px;
}
nav ul{
    display: flex;
    float: right;
    list-style: none;
    background: transparent;

}
nav ul li a{
    color: #fff;
    text-decoration: none !important;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 10px;
    letter-spacing: 1px;
    border-radius: 5px;
    background: transparent;

    transition: all 0.3s ease;
}
nav .menu-btn i{
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    display: none;
}
nav ul li{
    margin: 0px 5px;
    background: transparent;

}
nav ul li a:hover,
nav ul li a.active{
    color: #fff;
    background-color:rgb(0, 251, 255);
}
#click:checked ~.menu-btn i:before{
    content: "\f00d";
}
#click{
    display: none;
}


/* loader */

.loader-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    overflow: hidden;
    background-color: #242f3f;
    display:flex;
    z-index: 4;
    justify-content: center;
    align-items: center;
  }
  .loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid #Fff;
    animation: loader 2s infinite ease;
  }
  .loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #fff;
    animation: loader-inner 2s infinite ease-in;
  }
  
  @keyframes loader {
    0% { transform: rotate(0deg);}
    25% { transform: rotate(180deg);}
    50% { transform: rotate(180deg);}
    75% { transform: rotate(360deg);}
    100% { transform: rotate(360deg);}
  }
  
  @keyframes loader-inner {
    0% { height: 0%;}
    25% { height: 0%;}
    50% { height: 100%;}
    75% { height: 100%;}
    100% { height: 0%;}
  } 

/* loader end */


 header{
    position: relative;
    display: block;
 border-bottom: 1px solid rgb(0, 251, 255); 
    padding: 2em;
}

ul{
    list-style-type: none;
    list-style: none;
    overflow: hidden;
}
li{
    float: left;
    margin-right: 3rem;
}
li a{
    display: block;
    color: #fff;
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;
    padding-right: 15px;
    text-decoration: none; 
}
li a:hover{
    color:rgb(0, 251, 255);
}
.color{
    color: rgb(0, 251, 255);
    font-weight: bolder;
    font-size: 5em;
    font-family: 'Dancing Script', cursive; 
}
.container1{
    position: relative;
    display: flex;
    padding-top: 10rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 3rem;
    width: 100%;

}
#changeText{
    margin-left: 13rem;
}
.connect{
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 2rem;
    flex-wrap: wrap;
    background-color: transparent;
    margin-top: 1rem;
    justify-content: center;
}
.social:hover{
background-color: #fff;
color: #333333f5;
}
.social{
    padding: 10px;
    border-radius: 50%;
    filter: drop-shadow(2px 2px 5px #fff);

}
.image{
    position: relative;
    background: transparent;
    height: fit-content;
    width: fit-content;
    padding: 0;
}
img{
    filter: blur(30px);
    margin: 2em;
    height: 500px;
    background: transparent;
    filter: drop-shadow(5px 5px 5px rgb(10, 10, 10))drop-shadow(-5px -5px 5px rgb(7, 7, 7));
}
.aboutMe{
    justify-content: center;
}
.detail{
    text-align: left;
    width: 100%;
    padding-left: 2em;
    padding-top: 10em;
    background: transparent;
    position: relative;
    align-items: center;
}
.detail p{
    color: #fff;
    font-size:2rem ;
    background: transparent;
}
#download{
    padding: 5px;
    box-shadow: 5px 5px 10px gray;
    border-radius: 5px;
    margin-top: 5rem;
    height: 45px;
    width: 150px;
    background-color:#fff;
    color: #333333f5;
    border: 3px inset hotpink;
}
.detail2{
    width: 100%;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
    background: transparent;
}
.detail2 span{
    display: block;
    background-color: transparent;
}
.btn{
    width: 100%;
    background-color: transparent;
    padding: 0;
}
#download:hover{
    cursor: pointer;
    color: #fff;
    background: #14ffe7;
    box-shadow: 0 0 50px #14ffd0;
    border: 3px inset #fff;

}
#eng{
    color: hotpink;
    text-align: left;
}

/* Education */
.container2{
    position: relative;
    color: #fff;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
}
#skills>*{
    background: transparent;
}
.main_title{
    display: flex;
    flex-direction: column;
    text-align: center;
    background: transparent;

}
.main_title>*{
    background: transparent;
}
.sub_title{
    color: gray;
    font-size: 2rem;
}
.skills{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 3rem;
    width: 100%;
    background: inherit;
}
.skill_title{
    display: flex;
      flex-direction:column ;
      justify-content: space-evenly;
        flex: 1;
        padding: 1rem;
      gap: 1rem;
      align-content: center;
      background: transparent;
   
}
.skill_title>*{
    background: transparent;
}
.title{
    align-self: center;
    width: fit-content;
    background: transparent;
    border-bottom: 3px solid #fff;
    font-size: 4rem;
    color:  rgb(10, 157, 254);
    font-weight:bolder;
}

i{
    color: #fff; 
    font-size: 3rem;
}
.progress{
    width:100%;
    max-height: 1rem;
}
.progress-bar{
    width: 100%;
}


/* aboutme */
.aboutMe{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 1rem 10rem 10rem 10rem; */
    gap: 6rem;
    padding-bottom:3rem ;
    
}
.about_title span{
border-bottom: 3px inset #fff;
color: rgb(10, 157, 254);
font-weight: bold;
font-size: 4rem;
background: transparent;
font-family: 'IBM Plex Sans', sans-serif;
}
.about_content{
display: flex;
flex-direction: row;
justify-content: space-around;
gap: 0rem;
align-items: center;
background: transparent;

}
.about_img{
width: fit-content;
height: fit-content;
margin: 3rem;
background-color: #fff;
box-shadow: 5px 5px 5px rgba(128, 128, 128, 0.635),
-5px -5px 5px rgba(128, 128, 128, 0.635);
transform:rotate(-10deg);
}
.about_img img{
height: 150px;
margin:2rem;
width: 250px;
}
.about_text{
    text-align: center;
    background-color: transparent;
    color: gray;
    width: fit-content;
}
.about_title{
    background: transparent;
    color: #fff;
display: flex;
flex-direction: row;
}
.about_title img{
width: 200px;
}
.about_table{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 3rem;
    align-items: center;
    width: fit-content;
    box-shadow: 5px 5px 5px #222;
    background: #333333f5;
}

.right_table{
    background: transparent !important ;
    text-align: left;
}
.table td{
    color: #fff;
    border:none;
    text-align: left;
}
.table{
    background: transparent;
    padding: 1rem;

}

.about_details{
    display: flex;
    word-wrap: break-word;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: transparent !important;
    font-size: 2rem;
    gap: 5rem;
    color: gray;
}

.left_table{
    background-color: transparent !important;
    text-align: left;

}
#about_table tr td{
    background-color: transparent !important;
}
#about_table tr{
    background: transparent !important;
}



/* swipper */
.projects1{
    /* background-color: transparent; */
    margin: 0;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5rem;
    z-index: 1;
    padding-bottom: 5rem;
    /* align-items: center; */
}
.project-title{
    align-self: center;
    width: fit-content;
    border-bottom: 3px solid #fff;
    font-size: 4rem;
    background: transparent;
    color:  rgb(10, 157, 254);
    font-weight:bolder;
}

.mySwiper{
    height: 500px;
    background: transparent;
    width: 100%;
    
    padding-top:5rem ;
    padding-bottom:8rem ;
}
.project-slider{
    background: #333333f5;
    /* padding: 3rem; */
}
.swipper-wrapper{
   align-items: center;
    background: #333333f5;
    /* width: 100%;
    height: 500px; */
     /* display: flex;
    align-items: center;
    justify-content: center;  */
}
.swiper-slide{
    align-items: center;
    background: transparent;
    width: 60%;
    height: 100%;
    padding: 0;
    border-radius: 7px;
}

.swiper-slide img{

    position: absolute;
    width:100%;
    height: 100%;
    border-radius: 7px;
}
.swiper-slide-active{
    transform: scale(1.2);
    transition:.2s;
    z-index: 1;
}
.swiper-pagination{
    background: transparent;
}

.swiper-text{
   margin-top:50%;
    height: 60%;
    width: 100%;
    padding: 8px;
    background-color: rgba(0, 0, 0, 0.681);
    position: absolute;
    bottom: 0;
    margin: 0 0 -2rem 2rem;
    text-align: center;
    border-radius: 0 0 7px 7px;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    justify-content: center;

}
.swiper-text h3{
    background: transparent;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:#fff ;
}
.swiper-text a{
    text-decoration: none !important;
    color: #fff!important;
    width: 100px;
    align-self: center;
    letter-spacing: 2px;
}

.description{
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* align-items: center; */
    font-family: 'Roboto Mono', monospace;
}
.description *{
    background: transparent;
    font-family: robo;
    color: #15c5d8;
    letter-spacing: 2px;
    list-style-type: style;;
}

/* Media query */

@media (max-width:750px)  {
    nav ul{
        z-index: 1;
        position: fixed;
        top: 80px;
        left:-100%;
        background-color: transparent;
        height: 100vh;
        width: 20%;
        
        display: block;
        text-align: center;
        transition: all 0.5s ease;
    }
    #click:checked ~ ul {
        left: 0%;
    }
    nav ul li{
        margin: 40px 0;
        background: #fff;
        border-radius: 5px;
        margin-left: 1rem;
    }
    nav ul li a{
        font-size: 20px;
        display: block;
        color: #333333;
    }
    nav ul li a:before{
        content:"";
    }
    nav ul li a:hover,
    nav ul li a.active{
        color: cyan;
        background: none;

    }
    nav .menu-btn i{
        display: block;
    }


    .container1{
        flex-direction: column-reverse;
        flex-wrap: wrap;
        gap: 1rem;
        
    }
    .connect{
        flex-wrap: wrap;
        flex-direction: row;
    }
    .details{
        flex-wrap: wrap;
        align-items: center;
        gap: 1rem;
        width: 100%;
        padding: 0;
        margin: 0;
        flex-direction: row;
    }
    .image{
        display: flex;
        top: 80px;
        position:relative;
        justify-content: center;
        align-items: center;
        height: 500px;
        padding: 0;
        width: 100%;
        padding-bottom: 3rem;
    }
    .image img{
        margin: 0;
        /* filter: drop-shadow(5px 5px 5px rgb(194, 192, 192)); */
        /* width:700px; */
        height: 100%;
        align-self: center;
    }
    .aboutMe{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
   .about_content{
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }

   .skills{
    flex-direction: column;
    flex-wrap: wrap;

   }
   .skill_title{
    width: 100%;
   }
  .progress{
    width: 100%;
  }
.about_table{
    flex-wrap: wrap;
    word-wrap:break-word;
    justify-content:center;
    /* gap: 2rem; */
    padding: 3rem 0 3rem 0;
    box-shadow: -5px 0 5px #222;
}
    .aboutMe{
        width: 100%;
    }
    .right_table{
        width: 100%;
        /* padding: 1rem; */
        justify-content: center;
        word-wrap: break-word;
    }

    .left_table{
        width: 100%;
        /* padding-left: 1rem; */
        word-wrap: break-word;
    }
    .about_text{
        padding:2rem;
        word-wrap: break-word;
    }
    /* swipper */
    .mySwiper{
        height: 400px;
        padding-top:7rem ;
        padding-bottom:15rem ;
    }
    .swiper-slide-active{
        transform: scaleY(1.5);
    }
    .swiper-slide{
        width: 65%;

    }


}
