@import url('https://fonts.googleapis.com/css2?family=Quintessential&family=Roboto+Mono:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: #333333f5;
    font-family: 'Poppins',sans-serif;
}
html{
    scroll-behavior: smooth;
}
nav{
    position: fixed;
    width: 100%;
    margin: 0;
    z-index: 2;
    height: 80px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
    padding: 20px 0px 0px 10px;
}
nav ul{
    display: flex;
    float: right;
    list-style: none;
    background: transparent;
    height: 100%;
}
nav ul li a .text{
    color: #fff;
    text-decoration: none !important;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 10px;
    letter-spacing: 1px;
    border-radius: 5px;
    transition: all 0.3s ease;
}
nav ul li a{
    text-decoration: none;
}
nav .menu-btn i{
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    display: none;
}
nav ul li{
    margin: 0px 5px;
    background: transparent;
    color: #14ffe7b1;

}

nav ul li a:hover{
    text-decoration: none;
}
nav ul li a .text:hover,
nav ul li a.active1{
    color: #fff;
    background-color:rgb(0, 251, 255);
}
nav ul li a .text.active1{
    background-color:rgb(0, 251, 255);

}
/* #click:checked ~.menu-btn i:before{
    content: "\f00d";
}
#click{
    display: none;
} */
.kursor{
    background-color: transparent;
}

/* loader */

.loader-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow:hidden;
    background-color: #242f3f;
    display:flex;
    z-index: 4;
    justify-content: center;
    align-items: center;
  }
  .loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid #Fff;
    animation: loader 2s infinite ease;
  }
  .loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #fff;
    animation: loader-inner 2s infinite ease-in;
  }
  
  @keyframes loader {
    0% { transform: rotate(0deg);}
    25% { transform: rotate(180deg);}
    50% { transform: rotate(180deg);}
    75% { transform: rotate(360deg);}
    100% { transform: rotate(360deg);}
  }
  
  @keyframes loader-inner {
    0% { height: 0%;}
    25% { height: 0%;}
    50% { height: 100%;}
    75% { height: 100%;}
    100% { height: 0%;}
  } 

/* loader end */


 header{
    position: relative;
    display: block;
 border-bottom: 1px solid rgb(0, 251, 255); 
    padding: 2em;
}

ul{
    list-style-type: none;
    list-style: none;
    overflow: hidden;
}
li{
    float: left;
    margin-right: 3rem;
}
li a .text{
    display: block;
    color: #fff;
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;
    padding-right: 15px;
    text-decoration: none; 
}
li a .text:hover{
    color:rgb(0, 251, 255);
    background: transparent;
}

.indicator{
    display: none;
}
.icon{
    display: none;
}
.color{
    color: rgb(0, 251, 255);
    font-weight: bolder;
    font-size: 5em;
    font-family: 'Dancing Script', cursive; 
}
.container1{
    position: relative;
    display: flex;
    padding-top: 10rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 3rem;
    width: 100%;
}
#changeText{
    margin-left: 13rem;
}
.connect{
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0px 9rem 0 10rem;
    gap: 2rem;
    flex-wrap: wrap;
    background-color: transparent;
    margin-top: 1rem;
    justify-content: center;
}
.social:hover{
background-color: #fff;
color: #333333f5;
}
.social{
    padding: 10px;
    border-radius: 50%;
    filter: drop-shadow(2px 2px 5px #fff);

}
/* .image{
    position: relative;
    background: transparent;
    height: fit-content;
    width: max-content;
    padding: 0;
} */

img{
    /* filter: blur(30px); */
    height: 500px;
    width: 400px;
    background: transparent;
    margin: .7rem;
    filter: drop-shadow(5px 5px 5px rgb(10, 10, 10))drop-shadow(-5px -5px 5px rgb(7, 7, 7));
} 

/* image  */

.card1{
    position: relative;
    background: transparent;
    width: fit-content;
    transition: 0.5s;

    top: 10rem;
    height: 600px;
    margin-right: 10rem;
    align-items: center;
    width: fit-content;
    background: transparent !important;
    border: none;

}
.card1 .lines{
position: relative;
background: transparent;
inset: 0;
width: fit-content;
overflow: hidden;
}

.card1 .lines::before{
    content: ' ';
    position: absolute;
/* transform: translate(-50%,-50%); */
    top: 50%;
    left: 50%;
    height: 120px;
    width: 700px;
    background: linear-gradient(transparent,rgb(0, 251, 255),rgb(0, 251, 255),rgb(0, 251, 255),transparent);
    animation: animate 4s linear infinite;
}
.card1 .lines::after{
    position: absolute;
    inset: 3px;
    background: transparent;
}

@keyframes animate {
    0%{
        transform: translate(-50%,-50%) rotate(0deg);
    }
    100%{
        transform: translate(-50%,-50%) rotate(360deg);

    }
}

.aboutMe{
    justify-content: center;
}
.detail{
    text-align: left;
    width: 100%;
    padding-left: 2em;
    padding-top: 10em;
    background: transparent;
    position: relative;
    align-items: center;
}
.detail p{
    color: #fff;
    font-size:2rem ;
    background: transparent;
}
.button{
    padding: 5px;
    box-shadow: 5px 5px 10px gray;
    border-radius: 5px !important;
    margin-top: 5rem !important;
    height: 45px !important;
    width: 150px !important;
    background-color:#fff !important;
    color: #333333f5 !important;
    border: 3px inset hotpink !important;
}
.detail2{
    width: 100%;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
    background: transparent;
}
.detail2 span{
    display: block;
    background-color: transparent;
}
.btn{
    width: 100%;
    background-color: transparent;
    padding: 0;
}
.button:hover{
    cursor: pointer;
    color: #fff !important;
    background: #14ffe7 !important;
    box-shadow: 0 0 50px #14ffd0 !important;
    border: 3px inset #fff !important;

}
#eng{
    color: hotpink;
    text-align: left;
}

/* Education */
.container2{
    position: relative;
    color: #fff;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
}
#skills>*{
    background: transparent;
}
.main_title{
    display: flex;
    flex-direction: column;
    text-align: center;
    background: transparent;

}
.main_title>*{
    background: transparent;
}
.sub_title{
    color: gray;
    font-size: 2rem;
}
.skills{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 3rem;
    width: 100%;
    background: inherit;
}
.skill_title{
    display: flex;
      flex-direction:column ;
      justify-content: space-evenly;
        flex: 1;
        padding: 1rem;
      gap: 1rem;
      align-content: center;
      background: transparent;
   
}
.skill_title>*{
    background: transparent;
}
.title{
    align-self: center;
    width: fit-content;
    background: transparent;
    font-size: 4rem;
    color:  rgb(10, 157, 254);
    font-weight:bolder;
}

i{
    color: #fff; 
    font-size: 3rem;
}
.progress{
    width:100%;
    max-height: 1rem;
}
.progress-bar{
    width: 100%;
}


/* aboutme */
.aboutMe{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 1rem 10rem 10rem 10rem; */
    gap: 6rem;
    padding-bottom:3rem ;
    
}
.about_title span{
color: rgb(10, 157, 254);
font-weight: bold;
font-size: 4rem;
width: fit-content;
/* border-bottom: 3px inset #fff; */
background: transparent;
font-family: 'IBM Plex Sans', sans-serif;

}
.bb{
    border-bottom: 3px inset hotpink;
    border-radius: 4px;
    position: relative;
    top: 0%;
    width: 50px;
    left: 0;
    animation: alternate;
    animation-name: borderAni;
animation-duration:2s;

animation-iteration-count: infinite;
}

@keyframes borderAni {
    /* from{
        left: 0;
    }
    to{
        left:70%;
    } */
    0%{
        left: 0;
        width: 0;
    }
    25%{
        width: 25%;
    }
   
    100%{
        left: 100%;
        width: 0;
    }
}
.about_content{
display: flex;
flex-direction: row;
justify-content: space-around;
gap: 0rem;
align-items: center;
background: transparent;

}
.about_img{
width: fit-content;
height: fit-content;
margin: 3rem;
background-color: #fff;
box-shadow: 5px 5px 5px rgba(128, 128, 128, 0.635),
-5px -5px 5px rgba(128, 128, 128, 0.635);
transform:rotate(-10deg);
}
.about_img img{
height: 150px;
margin:2rem;
width: 250px;
}
.about_text{
    text-align: center;
    background-color: transparent;
    color: gray;
    width: fit-content;
}
.about_title{
    background: transparent;
    color: #fff;
display: flex;
flex-direction: row;
}
.about_title img{
width: 200px;
}
.about_table{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 3rem;
    align-items: center;
    width: fit-content;
    box-shadow: 5px 5px 5px #222;
    background: #333333f5;
}

.right_table{
    background: transparent !important ;
    text-align: left;
}
.table td{
    color: #fff;
    border:none;
    text-align: left;
}
.table{
    background: transparent;
    padding: 1rem;

}

.about_details{
    display: flex;
    word-wrap: break-word;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: transparent !important;
    font-size: 2rem;
    gap: 5rem;
    color: gray;
}

.left_table{
    background-color: transparent !important;
    text-align: left;

}
#about_table tr td{
    background-color: transparent !important;
}
#about_table tr{
    background: transparent !important;
}






/* swipper */
.projects1{
    /* background-color: transparent; */
    margin: 0;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5rem;
    /* z-index: 2; */
    padding-bottom: 5rem;
    /* align-items: center; */
}
.project-title{
    align-self: center;
    width: fit-content;
    font-size: 4rem;
    background: transparent;
    color:  rgb(10, 157, 254);
    font-weight:bolder;
}

.mySwiper{
    height: 500px;
    background: transparent;
    width: 100%;
    
    padding-top:5rem ;
    padding-bottom:8rem ;
}
.project-slider{
    background: #333333f5;
    /* padding: 3rem; */
}
.swipper-wrapper{
   align-items: center;
    background: #333333f5;
    
    /* width: 100%;
    height: 500px; */
     /* display: flex;
    align-items: center;
    justify-content: center;  */
}
.swiper-slide{
    align-items: center;
    background: transparent;
    width: 60%;
    height: 100%;
    padding: 0;
    border-radius: 7px;
}

.swiper-slide img{

    position: absolute;
    width:100%;
    height: 100%;
    border-radius: 7px;
}
.swiper-slide-active{
    transform: scale(1.2);
    transition:.2s;
    /* z-index: 1; */
}
.swiper-pagination{
    background: transparent;
}

.swiper-text{
   /* margin-top:50%; */
    height: 60%;
    width: 100%;
    padding: 8px;
    background-color: rgba(0, 0, 0, 0.681);
    position: absolute;
    bottom: -.7rem;
    left: .7rem;
    text-align: center;
    border-radius: 0 0 7px 7px;
    display: flex;
    flex-direction: column;
    /* font-size: 1rem; */
    justify-content: space-evenly;

}
.swiper-text h3{
    background: transparent;
        color:#fff ;
    
    filter: drop-shadow(2px 2px 5px rgb(0, 251, 255));
}
.swiper-text a{
    text-decoration: none !important;
    align-self: center;
}
.swiper-button-next,.swiper-button-prev{
    color: rgb(0, 251, 255);
    filter: drop-shadow(2px 2px 5px #14ffd0) ;
}
.swiper-slide-next,.swiper-slide-prev{
    filter: blur(5px);
}

.description{
    background-color: transparent;
    display: flex;
    /* align-items: center; */
    justify-content: space-evenly;
    font-family: 'Roboto Mono', monospace !important;
}
.description *{
    background: transparent;
    font-family: 'Roboto Mono', monospace !important;
    color: #fff;
    font-size: 1rem;
    /* letter-spacing: 2px; */
    list-style-type: style;;
}
.description ul{
    display: flex;
    padding-left: 2rem;
    /* gap: 3rem; */
    flex-direction: row;
}
.visit{
    /* padding-top: 1rem !important; */
    box-shadow: 0 0 10px gray !important;
    border-radius: 5px !important;
    height: 30px;
    color: #fff !important;
    width: 80px;
    text-transform: uppercase;
    letter-spacing: 2px !important;
    font-family: 'Roboto Mono', monospace !important;
    font-weight: 700 !important;
    font-size: 1.2rem !important;
    text-align: center;
    background-color:#0e0d0d48 !important;
    border: 3px inset hotpink !important;
     
}

.visit:hover{
    cursor: pointer;
    background: #14ffe7 !important;
    box-shadow: 0 0 30px #14ffd0 !important;
    border: 3px inset #fff !important;

}


/* contacts  */

.contacts{
    font-family: 'Quintessential', cursive !important;
    font-family: 'Roboto Mono', monospace !important;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: #333333f5;
    padding: 6rem 0 6rem 0;
    padding: 1rem;
    /* flex-wrap: wrap !important; */
    flex-direction: column;
    gap: 10rem;
}
.contacts *{
    background-color: transparent;
    font-family: 'Quintessential', cursive;
    font-family: 'Roboto Mono', monospace;
}

.remainder{
    color: #fff;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    box-shadow: 10px 10px 20px #333,-10px -10px 20px #333;
    border-radius: 1rem;
    padding: 1.5rem;
    text-align: center;
    font-size: 1rem;
    flex: 1;
}
.contact-form{
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
    color: #fff;
    box-shadow: 10px 10px 20px #333,-10px -10px 20px #333;
    border-radius: 1rem;
    padding: 1.5rem;
    /* align-self: center; */
    text-align: center;
    align-items: center;
    font-size: 1.5rem;
    flex: 1;
    /* gap: 1rem; */
}

.contact-form table tr td{
    /* width: 100%; */
    padding: 1rem;
    text-align: left;
}
.contact-form table{
    align-self: center;
}
#contact-table1{
    width: 100%;
    margin-top: 3rem;
}

Textarea{
padding: 2rem;
border-radius: 1rem;
border: 1px solid gray !important;
background: transparent !important;
font-size: 1.5rem !important;
color: #fff !important;

}
::placeholder {
    color: rgba(216, 208, 208, 0.564) !important;
    opacity: 1;
  }
.contact-form input{
    padding: 1rem;
    border: none;
    border-bottom: 1px solid gray;
    width: 100%;
}


.contact-details{

    color: #fff;
    box-shadow: 10px 10px 20px #333,-10px -10px 20px #333;
    border-radius: 1rem;
    padding: 1.5rem !important;
    width: 100%;
    text-align: left;
    font-size: 2rem;
    flex: 1;

}
.contact-details{
    /* display: none; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
 
}
.contact-details table tr td{
    /* word-wrap: break-word; */
    width: 100%;
    /* padding: 1rem; */
    margin-bottom: 2rem !important;
    text-align: start;
}
.contact-details table tr td:nth-child(2){
    color: gray;
}

.contact-details table tr td:nth-child(1){
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    gap: 1rem;
}

.cont-icon{
    color: hotpink;
}
.contact-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    /* box-shadow: 10px 10px 20px #33333392,-10px -10px 20px #33333392; */
    border-radius: 1rem;
    /* padding: 3rem; */
    text-align: center;
    gap: 2rem;
}

/* Media query */

@media (max-width:950px)  {
    nav{
        z-index: 2;
        padding: 0;
        position: fixed;
        background-color: #333333;
        bottom: 0;
        display: flex;
        /* padding: 0 20px 0 10px; */
        height: 60px;
        align-items: center;
        justify-content: center;
        border-radius: 10px 10px 0 0;
        box-shadow: 10px 0 20px #667995;
    }
    nav ul{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        align-self: center;
        position: relative;
        bottom: 0;
        margin: 0;
        padding: 0;
        background-color: transparent;
        text-align: center;
        padding:0 20px 0 10px ;
    }
    nav ul li{
        position: relative;
        /* background-color: #fff; */
        background: transparent;
        height: 60px;


    }
    nav ul li a{
        /* font-size: 1.4rem; */
        font-weight: 500;
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
        background-color: #333333f5;
        width: 100%;
        text-align: center;
        color: #fff;
    }
    .icon,.text{
        background-color: transparent;
        /* font-size: 1.6rem; */
        z-index: 2;
    }
    .icon ion-icon{
        background-color: transparent;
        color: #fff;
    }
    nav ul li a .icon{
        /* z-index: 1; */
        position: relative;
        display: block;
        line-height: 65px;
        font-size: 3em;
        transition: 0.5s;
        color: #222327;
    }
    nav ul li.active a .icon{
        transform: translateY(-45px);
        color:rgb(0, 251, 255) ;
    }

    nav ul li a .text{
        /* z-index: 1; */
        position: absolute;
        background-color: rgb(0, 251, 255);
        color: #fff;
        
        padding: 2px 7px;
        bottom: 10px;
        border-radius: 12px;
        font-weight: 400;
        font-size: 1.3em;
        letter-spacing: .05em;
        transition: 0.5s;
        transform: translateY(35px);


    }
     /* .indicator {
        display: block;
        position: absolute;
        top: -35px;
        width: 70px;
        height: 70px;
        
        border-radius: 50%;
        bottom: 20px;
        box-shadow: none;
    }

    .indicator ::before{
        content:' ' ;
        position: absolute;
        top: 5px;
        left: -25px;
        width: 30px;
        height: 30px;
        background: transparent;
        border-radius: 50%;
        top: 5px;
    }

    .indicator ::after{
        content:' ' ;
        position: absolute;
        top: 5px;
        left: -25px;
        width: 30px;
        height: 30px;
        background: transparent;
        border-radius: 50%;
        top: 5px;
        left: -20px;
    } 
    nav ul li:nth-child(1).active ~.indicator {
        transform: translateX(calc(-24px));
    }
    nav ul li:nth-child(2).active ~.indicator{
        transform: translateX(calc(60px*1));
    }
    nav ul li:nth-child(3).active ~.indicator {
        transform: translateX(calc(71px*2));
    }
    nav ul li:nth-child(4).active ~.indicator {
        transform: translateX(calc(80px*3));
    }
    nav ul li:nth-child(5).active ~.indicator {
        transform: translateX(calc(80px*4));
    } */

    nav ul li.active a .text{
        transform: translateY(-4px);
    }

    nav ul li a:hover,
    nav ul li a.active{
        color: cyan;
        background: none;

    }
    /* nav .menu-btn i{
        display: block;
    } */

    .container1{
        flex-direction: column-reverse;
        flex-wrap: wrap;
        gap: 1rem;
        /* margin-top: 0; */
        justify-content: space-around;
        padding-top: 2rem;
    }
  
    .connect{
        flex-wrap: wrap;
        flex-direction: row;
    }
    .details{
        flex-wrap: wrap;
        align-items: center;
        gap: 0;
        width: 100%;
        padding: 0;
        margin: 0;
        flex-direction: row;
    }
    .detail{
        padding-top: 1rem;
    }
    .card1{

        display: flex;
        position:relative;
        justify-content: center;
        align-items: center;
        height: 350px;
        top: 0;
        /* margin: 0% !important; */
        margin: 0;
        width: 100%;
        background: transparent;
    }
    .card1 .lines img{
        box-shadow: none;
        margin: 0;
        right: 100px;
        height: 100%;
        width:250px;
        align-self: center;
    }
.card1 .lines{
    position: relative;
    height: 100%;
    width: fit-content;
    width: fit-content;
    padding: .5rem;
}
    .aboutMe{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
   .about_content{
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }

   .skills{
    flex-direction: column;
    flex-wrap: wrap;

   }
   .skill_title{
    width: 100%;
   }
  .progress{
    width: 100%;
  }
.about_table{
    flex-wrap: wrap;
    word-wrap:break-word;
    justify-content:center;
    align-items: center;
    /* gap: 2rem; */
    /* padding: 3rem; */
    padding: 0;
    box-shadow: -5px 0 5px #222;
}
    .aboutMe{
        width: 100%;
    }
    .right_table{
        
        width: 100%;
        /* padding: 1rem; */
        justify-content: center;
        word-wrap: break-word;
    }

    .left_table{
        width: 100%;
        /* padding-left: 1rem; */
        word-wrap: break-word;
    }
    .about_text{
        padding:2rem;
        word-wrap: break-word;
    }
    table tr td{
        padding: 10px;
        font-size: medium;
    }
    /* swipper */
    .mySwiper{
        height: 400px;
        padding-top:7rem ;
        padding-bottom:15rem ;
    }
    .swiper-slide-active{
        transform: scaleY(1.5);
    }
    .swiper-slide{
        width: 65%;

    }
    .swiper-button-next,.swiper-button-prev{
        display: none;
    }
 
   .visit{
    padding: 0.5 !important;
    height: 25px;
    width: 70px;
    font-size: .9rem !important;
    margin-bottom:1rem !important;
   }
   .description *{
    font-size: .8rem;

   }
   .contact-box{
    flex-direction:column ;
    margin: 0%;
    padding: 0%;
   }
   .contacts{
    padding: 0%;
   }

}
